<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>SYMBNB - {% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="/css/app.css"/>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {# Inclusion du header dans le template de base  avec twig #}
        {% include "partials/header.html.twig" %}

        {% block body %}{% endblock %}

        {# Inclusion du footer dans le template de base avec twig #}
        {% include "partials/footer.html.twig" %}

        <script src="/js/jquery.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/popper.min.js"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
