{# Héritage du template de base #}
{% extends 'base.html.twig' %}

{# Surcharge du block "title" du template de base #}
{% block title %}Création d'une annonce{% endblock %}

{# On prévient symfony que l'on veut use un thème particulier se trouve dans ce fichier #}
{% form_theme form 'ad/_collection.html.twig' %}

{# Surcharge du block "body" du template de base #}
{% block body %}
    <div class="container">
        <h1 class="h1">Créer une nouvelle annonce !</h1>

        {# Affichage du formulaire créé avec symfony#}
        {{ form_start(form) }}

        {{ form_widget(form) }} 

        <button type="submit" class="btn btn-primary">Créer la nouvelle annonce</button>

        {{ form_end(form) }}
    </div>
{% endblock %}

{# code javascripts pour ajouter dynamiquement des champs #}
{% block javascripts %}
    <script src="/js/ad.js"></script>
{% endblock %}